NODE_ENV=production
MONGODB_URI=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

JITSI_APP_ID=legatalk
JITSI_APP_SECRET=
JITSI_DOMAIN=42.96.12.227
JITSI_SERVER_URL=https://42.96.12.227
JITSI_TOKEN_TTL_SECONDS=3600
